{% extends 'music/base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
        <div class="card bg-light">
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        <div class="bg-light float-left" id="music_name">
                            {{ filename|slice:"0:-4" }}
                        </div>
                        <div class="bg-light float-right">
                            <button class="btn btn-dark"><a class="text-light" id="n_play">
                                <i class="fa fa-play" aria-hidden="true"></i> 播放</a></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="lyric-content" class="text-center">
                            {% if lyrics %}
                                {% for lyric in lyrics %}
                                    <p>{{ lyric|slice:'10:' }}</p>
                                {% endfor %}
                            {% else %}
                                {{ not_lyric }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-0 col-md-0 col-lg-5 col-xl-5">
        <div class="card bg-white">
            <div class="card-header">
                <div class="text-center">
                    <div class="float-center">
                        <button class="btn btn-link" title="随机播放"><a class="text-dark" id="randoms">
                            <i class="fa fa-random" aria-hidden="true"></i></a></button>
                        <button class="btn btn-link" title="上一首"><a class="text-dark"  id="top">
                            <i class="fa fa-backward" aria-hidden="true"></i></a></button>
                        <button class="btn btn-link" title="播放第一首"><a class="text-dark" id="play">
                            <i class="fa fa-play" aria-hidden="true"></i></a></button>
                        <button class="btn btn-link" title="下一首"><a class="text-dark"  id="down">
                            <i class="fa fa-forward" aria-hidden="true"></i></a></button>
                        <button class="btn btn-link" title="顺序播放"><a class="text-dark" id="sequence">
                            <i class="fa fa-retweet" aria-hidden="true"></i></a></button>
                    </div>
                    <audio id="audio" preload="auto" controls loop>Your browser does not support the audio tag.</audio>
                </div>
            </div>
            <div class="card-body">
                <div id="songs">
                    <ul class="list-group" id="ul">
                        {% for file in files_set %}
                        <li class="list-group-item">
                            <a class="text-dark font-italic"
                               href="{% url 'polls:get_music_lyric' file %}">{{ file|slice:"0:-4" }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="card-footer">
                <a class="text-dark font-italic" href="https://music.163.com/#/user/home?id=367481153" target="_blank">
                    This is my the link of NetYi Yun music account.</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" charset="UTF-8">
    var oAudio = document.getElementById("audio");
    var oPlay = document.getElementById('play');
    var nPlay = document.getElementById('n_play');
    var oTop = document.getElementById("top");
	var oDown = document.getElementById("down");
	var oUl = document.getElementById("ul");
	var oLi = oUl.getElementsByTagName("li");
	var oSequence = document.getElementById("sequence");
	var oRandoms = document.getElementById("randoms");
	var oName = document.getElementById("music_name");

    var songs_div = document.getElementById("songs");
    var ul_arr = songs_div.getElementsByTagName("ul");
    var li_arr = ul_arr[0].getElementsByTagName("li");
    var oTotal = document.getElementsByClassName("total_time")[0]
    var oStart = document.getElementById("start_time")
	var oRound = document.getElementById("round")
	var oLoad = document.getElementById("load")

    var num = 0;
    var arr = [];
    for(let i=0; i < li_arr.length; i++){
        song_title = ul_arr[0].getElementsByTagName("li")[i].innerText;
        arr.push("/static/music/" + song_title + '.mp3');
    }

    oAudio.src = arr[num];

    oPlay.onclick = function() {
		if(oAudio.paused) {
			oAudio.play();
			oPlay.innerHTML = '<i class="fa fa-pause" aria-hidden="true"></i>';
		}
		else {
			oAudio.pause();
			oPlay.innerHTML = '<i class="fa fa-play" aria-hidden="true"></i>';
		}
	}

    curr_name = oName.innerText;
    curr_path = "/static/music/" + curr_name + ".mp3"
    oAudio.src = curr_path

    nPlay.onclick = function() {
		if(oAudio.paused) {
			oAudio.play();
			nPlay.innerHTML = '<i class="fa fa-pause" aria-hidden="true"></i> 播放';
		}
		else {
			oAudio.pause();
			nPlay.innerHTML = '<i class="fa fa-play" aria-hidden="true"></i> 播放';
		}
	}

    //点击切换歌曲
	for(var i = 0; i < oLi.length; i++) {
		oLi[i].index = i;
		oLi[i].onclick = function() {
			num = this.index;
			oAudio.src = arr[this.index];
			oAudio.play();
			oPlay.innerHTML = '<i class="fa fa-pause" aria-hidden="true"></i>';
		}
	}

	//上一首
	oTop.onclick = function() {
		num--
		if(num < 0) {
			num = 0;
		}
		oAudio.src = arr[num]
		oAudio.play()
        oPlay.innerHTML = '<i class="fa fa-pause" aria-hidden="true"></i>';
	}

    //下一首
	oDown.onclick = function() {
		num++
		if(num > arr.length - 1) {
			num = arr.length - 1
		}
		oAudio.src = arr[num]
		oAudio.play()
		oPlay.innerHTML = '<i class="fa fa-pause" aria-hidden="true"></i>';
	}

    // 顺序播放
    oSequence.onclick = function () {
        oAudio.onended = function () {
             $('#btn-next').click();
        }
    }

    $(function() {
    /* 进度控制 */
        $('[name="schedule"]').change(function() {
            var audioLength = audio.duration;  // 获取当前音频的长度
            var unit = audioLength / parseInt($(this).attr('max'));  // 每1格对应的实例秒数
            audio.currentTime = $(this).val() * unit;
            $('.schedule').text(audio.currentTime+'秒');
        });
    });
</script>
<style>

</style>
{% endblock %}
