.file-box {
    position:relative;
    width:340px;
    margin:0px auto;

    }

.txt {
    height:28px;
    line-height:28px;
    border:1px solid #aaa;
    width:180px;
    }

.txt:hover {
    border:2px solid #add8e6;
}

.btn {
    color:#fff;
    background-color:##e7e7e7; color: black;
    border:0px none;
    border-radius: 3px;
    width: 70px;
    height:34px;
    line-height:16px!important;
    cursor:pointer;
    }

.btn:hover {
    background-color:#63bfff;
    color:#fff;
    }

.file {
    position:absolute;
    top:0;
    right:85px;
    height:30px;
    line-height:30px;
    filter:alpha(opacity:0);
    opacity: 0;
    width:254px;
    }

input {
    font-size: 16px;
}

.a-upload {
			padding: 4px 10px;
			height: 20px;
			line-height: 20px;
			position: relative;
			cursor: pointer;
			color: #888;
			background: #fafafa;
			border: 1px solid #ddd;
			border-radius: 4px;
			overflow: hidden;
			display: inline-block;
			*display: inline;
			*zoom: 1
		}

.a-upload  input {
			position: absolute;
			font-size: 100px;
			right: 0;
			top: 0;
			opacity: 0;
			filter: alpha(opacity=0);
			cursor: pointer
        }

.a-upload:hover {
			color: #444;
			background: #eee;
			border-color: #ccc;
			text-decoration: none
		}


