{% extends 'watchlist/base.html' %}

{% block content %}
{% if books %}
<div class="card">
    <div class="card-header">
        <span>{{ books|length }} 条内容</span>
    </div>
    <div class="card-body">
        {% for book in books %}
        <div class="list-group">
            <div class="list-group-item">
                <a class="text-dark font-italic" href="{% url 'watchlist:check_body' book.id %}">{{ book.title }}</a>
                <span class="float-right">
                    <span class="font-weight-light">{{ book.pub_date }} &nbsp;</span>
                    <a href="https://www.douban.com/search?q={{ book.title }}"
                       class="text-dark font-italic" target="_blank"
                       title="Find this movie on IMDb">豆瓣</a>
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="card">
    <div class="card-header">
        <span>{{ films|length }} 条内容</span>
    </div>
    <div class="card-body">
        {% for film in films %}
        <div class="list-group">
            <div class="list-group-item">
                <a class="text-dark font-italic" href="{% url 'watchlist:check_body' film.id %}">{{ film.title }}</a>
                <span class="float-right">
                    <span class="font-weight-light">{{ film.pub_date }} &nbsp;</span>
                    <a href="https://www.douban.com/search?q={{ film.title }}"
                       class="text-dark font-italic" target="_blank"
                       title="Find this movie on IMDb">豆瓣</a>
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="card">
    <div class="card-footer">
    <span class="text-left">
        <a class="text-dark font-italic" href="https://www.douban.com/people/168600825/" target="_blank">
        <i class="fa fa-link" aria-hidden="true"></i>点击查看我豆瓣里看过的书和电影。</a>
        提示: 在查看之前，必须先登录您的豆瓣账号。</span>
    </div>
</div>
{% endblock %}
