{% extends 'watchlist/base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <span><i class="fa fa-bars" aria-hidden="true"></i> {{ watchlists|length }} 条内容</span>
    </div>
    <div class="card-body">
        {% for watchlist in watchlists %}
        <div class="list-group">
            <div class="list-group-item">
                <h4>
                <a class="text-dark font-italic font-weight-bold"
                    href="{% url 'watchlist:get_reviews' watchlist.id %}">{{ watchlist.title }}</a>
                <span class="float-right">
                    <span class="font-weight-light">{{ watchlist.pub_date|date:'Y-m-d H:i' }} &nbsp;</span>
                    <a class="text-dark font-italic" href="https://www.douban.com/search?q={{ watchlist.title }}"
                       target="_blank">豆瓣</a>
                </span>
            </h4>
            </div>
        </div>
        <div class="row my-1"></div>
        {% endfor %}
    </div>
    <div class="card-footer">
        <a class="text-dark font-italic" href="https://www.douban.com/people/168600825/" target="_blank">
            <i class="fa fa-link" aria-hidden="true"></i>点击查看我豆瓣里看过的书和电影。</a>
        提示: 在查看之前，必须先登录您的豆瓣账号。
    </div>
</div>
{% endblock %}
