{% extends 'user/base.html' %}

{% block head %}<title>Login</title>{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header text-center">
                <h3>登录</h3>
            </div>
            <div class="card-body">
                <form class='form-login' action="" method="post">
                    {% if error_message %}
                        <div class="alert alert-warning">{{ error_message }}</div>
                    {% endif %}
                    {% csrf_token %}
                    <div class="form-group">
                        {{ login_form.username.label_tag }}
                        {{ login_form.username}}
                    </div>
                    <div class="form-group">
                        {{ login_form.password.label_tag }}
                        {{ login_form.password }}
                    </div>
                    <div class="form-group">
                        {{ login_form.captcha.errors }}
                        {{ login_form.captcha.label_tag }}
                        {{ login_form.captcha }}
                    </div>
                    <div class="float-left">
                        <button type="reset" class="btn btn-light">重置</button>
                    </div>
                    <div class="float-right">
                        <button type="submit" class="btn btn-light">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <a class="text-dark font-italic" href="{% url 'users:change_pwd' %}">修改密码?</a>
    <a class="text-dark font-italic" href="{% url 'users:reset_pwd' %}">忘记密码?</a>
    <a class="text-dark font-italic" href="{% url 'users:register' %}">无账号?去注册</a>
</div>
{% endblock %}
