{% extends 'user/base.html' %}

{% block head %}<title>重置密码</title>{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header text-center">
                <h3>重置密码</h3>
            </div>
            <div class="card-body">
                <form class='form-reset-pwd' action="" method="post">
                    {% csrf_token %}
                    {% if success_message %}
                    <div class="alert alert-success">{{ success_message }}</div>
                    {% endif %}
                    {% if error_message %}
                    <div class="alert alert-warning">{{ error_message }}</div>
                    {% endif %}
                    <div class="form-group">
                        {{ reset_pwd_form.username.label_tag }}
                        {{ reset_pwd_form.username}}
                    </div>
                    <div class="form-group">
                        {{ reset_pwd_form.email.label_tag }}
                        {{ reset_pwd_form.email }}
                    </div>
                    <div class="form-group">
                        {{ reset_pwd_form.register_code.label_tag }}
                        {{ reset_pwd_form.register_code }}
                    </div>
                    <div class="form-group">
                        {{ reset_pwd_form.new_password.label_tag }}
                        {{ reset_pwd_form.new_password }}
                    </div>
                    <div class="form-group">
                        {{ reset_pwd_form.captcha.errors }}
                        {{ reset_pwd_form.captcha.label_tag }}
                        {{ reset_pwd_form.captcha }}
                    </div>
                    <div class="float-left">
                        <button type="reset" class="btn btn-light">重置</button>
                    </div>
                    <div class="float-right">
                        <button type="submit" class="btn btn-light"
                                onclick="return confirm('Are you sure?');">提交
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}