{% extends 'user/base.html' %}

{% block content %}
<button class="bn"><a class="lk" href="{% url 'users:login' %}">Back</a></button>

<div><h4 class="text-center">重置密码</h4></div>

<div class="col-md-6 col-md-offset-6 col-center-block">
    <form class='form-reset-pwd' action="" method="post">

        {% if success_message %}
        <div class="alert alert-success">{{ success_message }}</div>
        {% endif %}
        {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
        {% endif %}

        {% csrf_token %}

        <div class="form-group">
            {{ reset_pwd_form.username.label_tag }}
            {{ reset_pwd_form.username}}
        </div>

        <div class="form-group">
            {{ reset_pwd_form.email.label_tag }}
            {{ reset_pwd_form.email }}
        </div>

        <div class="form-group">
            {{ reset_pwd_form.new_password.label_tag }}
            {{ reset_pwd_form.new_password }}
        </div>

        <div class="form-group">
            {{ reset_pwd_form.captcha.errors }}
            {{ reset_pwd_form.captcha.label_tag }}
            {{ reset_pwd_form.captcha }}
        </div>
        <div class="form-block">
            <button class="bn btn-secondary pull-left"><a class="btn-a" href="{% url 'users:login' %}">登录</a></button>
            <button type="reset" class="bn btn-secondary pull-left">重置</button>
            <button type="submit" class="bn btn-secondary pull-right">提交</button>
        </div>
    </form>
</div>
{% endblock %}