{% extends 'user/base.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {% if request.session.is_login %}
            <p>您已登录！！！</p>
        </div>
        <div class="card-body">
            {% if notice %}
                <p>系统通知：</p>
                <p>标题：{{ notice.title }}</p>
                <p>内容：{{ notice.content | safe }}</p>
                <p>时间：{{ notice.pub_date | date:'Y-m-d H:i' }}</p>
            {% else %}
                <p>{{ not_notice }}</p>
            {% endif %}
        </div>
    </div>
    {% else %}
        <p>尚未登录...</p>
    {% endif %}
{% endblock %}
