{% extends 'user/base.html' %}
{% block head %}<title>User</title>{% endblock %}

<div class="container">
    {% block content %}
    <div class="card">
        <div class="card-header">
            {% if request.session.is_login %}
            <p>您已登录！！！</p>
        </div>
        <div class="card-body">
            {% if notices %}
            {% for notice in notices %}
            <p>系统通知：
            <p>标题： {{ notice.caption }}</p>
            <p>内容： {{ notice.content }}</p>
            <p>时间： {{ notice.pub_date }}</p>
            {% endfor %}
            {% else %}
            暂时没有通知!
            {% endif %}
        </div>
    </div>
    {% else %}
    <p>尚未登录...</p>
    {% endif %}
</div>
{% endblock %}