<title>{% block title %}Detail{% endblock %}</title>

<button class="bn"><a class="btn-a" href="{% url 'polls:index' %}">Back</a></button>

<div class="content-box">
    <h1>{{ question.question_text }}</h1>

    {% if error_message %}<p><strong style="color:#FFc107;">{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        <input class="vote" type="submit" value="Vote">
    </form>
</div>

{% load static %}
<link rel="stylesheet" href="/static/css/style2.css">
<link rel="shortcut icon" href="/static/polls/images/favicon.ico">
