<title>{% block title %}Vote{% endblock %}</title>

<button class="bn"><a class="btn-a" href="{% url 'polls:home' %}">Back</a></button>
<div class="content-box">
    <h4>Question list:</h4>
    {% if latest_question_list %}
    <ol>
        {% for question in latest_question_list %}
        <li><a class="text-a " href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ol>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
</div>
{% load static %}
<link rel="stylesheet" href="/static/css/style2.css">
<link rel="shortcut icon" href="/static/polls/images/favicon.ico">
