{% extends 'polls/base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3>Question list:</h3>
    </div>
    <div class="card-body">
        {% if latest_question_list %}
        <ol>
            {% for question in latest_question_list %}
            <li><strong>
                <a class="text-dark font-italic" href="{% url 'polls:detail' question.id %}">
                {{ question.question_text }}</a></strong></li>
            {% endfor %}
        </ol>
        {% else %}
            <p>暂时没有问题需要投票。</p>
        {% endif %}
    </div>
</div>
{% endblock %}
