<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}<title>Blog</title>{% endblock %}
    <link rel="shortcut icon" href="/static/index/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.4.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background: #ddd;">
<div class="container">
    {% block title %}{% endblock %}
    {% block nav %}
    <nav class="navbar navbar-expand-md bg-light navbar-light">
        <!-- Brand -->
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index:index' %}">主页</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:blog' %}">文章页</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:display_label' %}">标签</a></li>
            </ul>
        </div>
    </nav>
    {% endblock %}
    {% block space %}<div>&nbsp;</div>{% endblock %}
    {% block content %}{% endblock %}
</div>
</body>
</html>