{% extends 'blog/base.html' %}

{% block title %}<h3>文章详情</h3>{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>{{ context.title }}</h2>
        <span>
            作者<i class="fa fa-user-o" aria-hidden="true"></i>: {{ context.author }} |
            时间<i class="fa fa-calendar" aria-hidden="true"></i>: {{ context.pub_date }} |
            标签<i class="fa fa-tag" aria-hidden="true"></i>:
                <a class="text-dark"
                   href="{% url 'blog:get_blog_by_label' context.category %}">{{ context.category }}</a> |
            浏览<i class="fa fa-eye" aria-hidden="true"></i>: {{ context.views }}
        </span>
    </div>
    <div class="card-body">
        {{ context.body | safe }}
    </div>
    <div class="card-footer"></div>
</div>
{% endblock %}