{% extends 'blog/base.html' %}

{% block title %}<h3>文章详情</h3>{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>{{ article.title }}</h2>
        <span>
            作者 <i class="fa fa-user-o" aria-hidden="true"></i>: {{ article.author }} |
            时间 <i class="fa fa-calendar" aria-hidden="true"></i>: {{ article.pub_date }} |
            标签 <i class="fa fa-tag" aria-hidden="true"></i>:
                <a class="text-dark font-italic"
                   href="{% url 'blog:get_blogs_by_label' article.category %}">{{ article.category }}</a> |
            浏览 <i class="fa fa-eye" aria-hidden="true"></i>: {{ article.views }}
        </span>
    </div>
    <div class="card-body">
        {{ article.body | safe }}
    </div>
    <div class="card-footer"></div>
</div>
{% endblock %}