<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thinking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/blog.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<button><a href="{% url 'blog:index' %}">Back</a></button>
<div class="article-box">
    <div class="article">
        <h1>{{ context.title }}</h1>
        <p>Time: {{ context.pub_date }} | Category: {{ context.category }}</p>
        <hr>
        <div>{{ context.body | safe }}</div>
    </div>
</div>
</body>
</html>