{% extends 'blog/base.html' %}

{% block head %}<title>Year</title>{% endblock %}
{% block title %}<h3>归档详情</h3>{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>{{ years|length }} 个年份如下：</h5>
    </div>
    <div class="card-body">
        <div class="list-group list-group-horizontal">
            {% if years %}
                {% for year in years %}
                    <a class="list-group-item text-dark font-italic"
                       href="{% url 'blog:get_blogs_by_year' year %}">{{ year }}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
