{% extends 'blog/base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="card">
            <div class="card-header">
                <div class="float-left">
                    <span>共 <strong>{{ search_articles|length }}</strong> 篇文章，
                        最近 <strong>{{ search_articles|length }}</strong> 篇文章如下：
                    </span>
                </div>
                <div class="float-right">
                    <form class="form-inline" method="get" action="{% url 'blog:search_blogs' %}">
                        {% csrf_token %}
                        <input type="search" class="form-control" name="q" placeholder="Search" required> &nbsp;
                        <button type="submit" class="btn btn-light border">搜索</button>
                    </form>
                </div>
            </div>
            <div class="card-body">
                {% if search_articles %}
                {% if success_search_msg %}
                <div class="text-center">
                    <h3 class="text-success"><strong>{{ success_search_msg }}</strong></h3>
                </div>
                {% endif %}
                {% for search_article in search_articles %}
                <div class="list-group">
                    <div class="list-group-item">
                        <small>
                        作者：{{ search_article.author }} &
                        发布：{{ search_article.pub_date }} &
                        标签：{{ search_article.category }}
                        </small>
                        <div><strong>
                                <a class="text-dark font-italic"
                                    href="{% url 'blog:blog_body' search_article.id %}">{{ search_article.title }}
                                </a>
                            </strong></div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                {% if not_search_msg %}
                <div class="text-center">
                    <h3 class="text-info"><strong>{{ not_search_msg }}</strong></h3>
                </div>
                {% endif %}
                {% for article in articles %}
                <div class="list-group">
                    <div class="list-group-item">
                        <small>
                        作者：{{ article.author }} &
                        发布：{{ article.pub_date }} &
                        标签：{{ article.category }}
                        </small>
                        <div><strong>
                                <a class="text-dark font-italic"
                                    href="{% url 'blog:blog_body' article.id %}">{{ article.title }}
                                </a>
                            </strong></div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-sm-0 col-md-0 col-lg-4 col-xl-4">
        <div class="card">
            <div class="card-header">
                <h5>{{ label_to_articles|length }} 个标签如下：</h5>
            </div>
            <div class="card-body">
                {% if label_to_articles %}
                {% for label, articles in label_to_articles.items %}
                <div class="list-group-item">
                    <a class="text-dark font-italic" href="{% url 'blog:get_blogs_by_label' label %}">
                        {{ label }}
                        <div class="float-right">
                            {{ articles|length }}
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row my-1"></div>
        <div class="card">
            <div class="card-header">
                <h5>{{ year_to_articles|length }} 个年份如下：</h5>
            </div>
            <div class="card-body">
                {% if year_to_articles %}
                {% for year, articles in year_to_articles.items %}
                <a class="text-dark font-italic" href="{% url 'blog:get_blogs_by_year' year %}">
                    <div class="list-group-item">
                        {{ year }}
                        <div class="float-right">
                            {{ articles|length }}
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
