{% extends 'blog/base.html' %}

{% block content %}
<article id="list" class="site-content">
    <div class="site-t">
        <div class="desc-title">
            <p>Overview</p>
        </div>
        <div class="search-form">
            <form method="get" action="{% url 'blog:search' %}">
                {% csrf_token %}
                <input class="txt" type="search" name="q" placeholder="Search" required>
                <button type="submit" value="Search">Search</button>
            </form>
        </div>
    </div>
    <div class="content-list">
        {% if search_list %}
        {% if success_msg %}
        <div class="tip">
            <p>{{ success_msg }}</p>
        </div>
        {% endif %}
        {% for search in search_list %}
        <ol>
            <li>
                <div class="card bg-secondary mb-3">
                    <div class="card-header">Release time: {{ search.pub_date }}</div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a class="text-warning" href="{% url 'blog:blog_body' search.id %}">
                                {{ search.title }}</a>
                        </h4>
                        <p class="card-text">Category: {{ search.category }}</p>
                    </div>
                </div>
                <br>
            </li>
        </ol>
        {% endfor %}
        {% else %}
        {% if error_msg %}
        <div class="tip">
            <p>{{ error_msg }}</p>
        </div>
        {% endif %}
        {% for context in contexts %}
        <ol>
            <li>
                <div class="card bg-secondary mb-3">
                    <div class="card-header">Release time: {{ context.pub_date }}</div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a class="text-warning" href="{% url 'blog:blog_body' context.id %}">{{ context.title }}</a>
                        </h4>
                        <p class="card-text">Category: {{ context.category }}</p>
                    </div>
                </div>
                <br>
            </li>
        </ol>
        {% endfor %}
        {% endif %}
    </div>
</article>

<div class="widget-area">
    <p>Notice:</p>
    {% for notice in notices %}
    <p> {{ notice.notice }}</p><br>
    <p> {{ notice.content }}</p>
    {% endfor %}
</div>
{% endblock %}