{% extends 'blog/base.html' %}

{% block title %}
<h3>Thinking</h3>
{% endblock %}

{% block content %}
<article id="list" class="site-content">
    {% for context in context %}
    <ol>
        <li>
            <div class="card bg-secondary mb-3">
                <div class="card-header">Release time: {{ context.pub_date }}</div>
                <div class="card-body">
                    <h4 class="card-title">
                        <a class="text-warning" href="{% url 'blog:blog_body' context.id %}">{{ context.title }}</a>
                    </h4>
                    <p class="card-text">Category: {{ context.category }}</p>
                </div>
            </div>
            <br>
        </li>
    </ol>
    {% endfor %}
</article>
{% endblock %}