{% extends 'message/base.html' %}

{% block content %}
<form class="" method="post" action="{% url 'messageboard:create_message' %}">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            {{ msg_form.content.label_tag }}
        </div>
        <div class="card-body">
            {{ msg_form.content }}
        </div>
        <div class="card-footer">
            <button class="btn btn-light" type="submit">提交</button>
        </div>
    </div>
</form>
{% endblock %}
