{% extends 'message/base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <span><i class="fa fa-th-list" aria-hidden="true"></i> {{ latest_message_list|length }} 条留言</span>
    </div>
    <div class="card-body">
        {% if latest_message_list %}
            {% for message in latest_message_list %}
            <div class="list-group">
                <div class="list-group-item">
                    <div>内容：{{ message.content }}<div class="float-right">{{ message.sub_date }}</div></div><br>
                    <div>回复：{{ message.reply }}<div class="float-right">{{ message.reply_date }}</div></div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>暂无留言。</p>
        {% endif %}
    </div>
</div>
{% endblock %}
