
.lk {
    text-decoration: none;
    color: #999;
}
.lk:hover {
    color: #555;
}

li {
    padding: 3px 15px 3px 0;
}

h2,h4,h5 {
    text-align: center
}
h4, h5 {
    color: #222;
}
footer {  /* 页脚 */
    color: #888;
    text-align: left;
    padding: 0px;
}