<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File</title>
    <link rel="shortcut icon" href="/static/index/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/files.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
<div class="nav-list">
    {% block nav %}
    <button class="bn"><a class="lk" href="{% url 'polls:show' %}">Download</a></button>
    <button class="bn"><a class="lk" href="{% url 'polls:upload' %}">Upload</a></button>
    <button class="bn"><a class="lk" href="{% url 'polls:uploaded' %}">Uploaded</a></button>
    {% endblock %}
</div>

{% block content %}{% endblock %}

</body>
</html>