{% extends 'files/base.html' %}

{% block head %}<h3>文件下载</h3>{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <strong><span>{{ files_name|length }} 个可下载文件</span></strong>
    </div>
    <div class="card-body">
        {% if files_name %}
        <ul class="list-group">
            {% for id, file in files_dict.items %}
            <li class="list-group-item">
                {{ file }} <a class="text-dark" href="polls/download/{{ id }}/">
                    <i class="fa fa-cloud-download" aria-hidden="true"></i></a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            {{ not_files }}
        {% endif %}
    </div>
</div>
{% endblock %}
