{% extends 'files/base.html' %}

{% block head %}<h3>历史上传</h3>{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <strong><span>历史记录：{{ files|length }} 个</span></strong>
    </div>
    <div class="card-body">
        {% if files %}
        <ul class="list-group">
            {% for file in files %}
            <li class="list-group-item">{{ file.file_name }}
                <p class="float-right">已下载：{{ file.downloads_count }} & 上传时间：{{ file.pub_date }}</p>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            {{ not_files }}
        {% endif %}
    </div>
</div>
{% endblock %}
