{% extends 'files/base.html' %}
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>File</title>
<link rel="shortcut icon" href="/static/polls/favicon.ico">
<link rel="stylesheet" href="/static/css/files.css">
<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
{% endblock %}

{% block content %}
<div class="file-box">
    <div class="title">
        <p>File Upload</p>
    </div>
    <form class="form" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" id="textfield" class="txt"/>
        <input type="button" class="sbt" value="Browse"/>
        <input type="file" name="file" class="file" id="fileField"
               onchange="document.getElementById('textfield').value=this.files[0].name"/>
        <input type="submit" class="sbn" value="Upload"/>
    </form>
    <div class="title">
        <p>10MiB maximum size</p>
    </div>
</div>
<div class="message">
    {% if error_message %}
    <div class="message_danger"><strong>{{ error_message }}</strong></div>
    {% endif %}
    {% if success_message %}
    <div class="message_success"><strong>{{ success_message }}</strong></div>
    {% endif %}
    <h4>Tips:
        Refresh the page Please use the Refresh button,<br>
        do not use the browser's own icon, thank you.
        <a class="lk" href="{% url 'polls:upload' %}">
            <i class="fa fa-refresh" aria-hidden="true"></i></a>
    </h4>
</div>

{% endblock %}