{% extends 'index/home.html' %}
{% block title %}<title>About</title>{% endblock %}
{% block content %}
<div class="container">
    <div class="card bg-light text-dark">
        <div class="card-header">My info:</div>
        <div class="card-body">
            <div class="text-dark">
                <p><i class="fa fa-at" aria-hidden="true"></i>
                    <a class="text-dark" href="#">name: zhangsihui</a></p>
                <p><i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <a class="text-dark" href="#">email: zhang_sihui@foxmail.com</a></p>
                <p><i class="fa fa-github" aria-hidden="true"></i>
                    <a class="text-dark" href="https://github.com/zhang-sihui/mysite">
                        All the code is on github, click here</a></p>
                <p><i class="fa fa-comment-o" aria-hidden="true"></i>
                    Based on Django2.1 & Python3.7 & Bootstrap4.4 </p>
            </div>
        </div>
    </div>
</div>
<table class="table"><p></p></table>
{% endblock %}