<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}<title>Home</title>{% endblock %}
    <link rel="shortcut icon" href="/static/index/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.4.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background: #ddd;">
<div class="container-fluid">
    {% block nav %}
    <nav class="navbar navbar-expand-md bg-light navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:8000/admin" target="_blank">
                        <i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'index:index' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'polls:vote' %}">Vote</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'polls:show_files' %}">File</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'polls:play_music' %}">Music</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'blog:blog' %}">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'photos:display_photos' %}">Photo</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'watchlist:watchlist' %}">WatchList</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'messageboard:messages' %}">GuestBook</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'index:about_me' %}">AboutMe</a></li>
                <li class="nav-item active"><a class="nav-link " href="#" data-toggle="tooltip" data-html="true"
                                               title="name：zhangsihui <br> email：zhang_sihui@foxmail.com">
                    <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i></a></li>
                <script>
                $(document).ready(function(){
                    $('[data-toggle="tooltip"]').tooltip();});
                </script>
            </ul>
        </div>
        <a class="text-dark" href="{% url 'users:user' %}">Login</a>
    </nav>
    {% endblock %}

    {% block space %}<p>&nbsp;</p>{% endblock %}

    {% block content %}
    <div class="col-md-8 offset-md-2">
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="text-dark" data-toggle="collapse" href="#collapseOne">
                        <p class="text-center"><strong>It's Beijing time: {{ Beijing_isoformat }} More</strong></p></a>
                </div>
                <div id="collapseOne" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>City</th>
                                <th>Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>NewYork</td>
                                <td>{{ NewYork_isoformat }}</td>
                            </tr>
                            <tr>
                                <td>UTC</td>
                                <td>{{ UTC_isoformat }}</td>
                            </tr>
                            <tr>
                                <td>London</td>
                                <td>{{ London_isoformat }}</td>
                            </tr>
                            <tr>
                                <td>Moscow</td>
                                <td>{{ Moscow_isoformat }}</td>
                            </tr>
                            <tr>
                                <td>Tokyo</td>
                                <td>{{ Tokyo_isoformat }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <p>当前访问人数：{{ ips_info|length }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</div>
</body>
</html>
