<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Film and Book</title>
    <link rel="stylesheet" href="/static/css/style1.css">
    <link rel="shortcut icon" href="/static/polls/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>

<button class="bn"><a class="lk" href="{% url 'polls:home' %}">Back</a></button>
<br>
<br>
<br>
<br>
<h3>
    This page is used to show the movies and books I have seen.<br>
    It is not open at this time.
</h3>

<h2>
    <a class="lk" href="https://www.douban.com/people/168600825/" target="_blank">
        <i class="fa fa-link" aria-hidden="true"></i>
        This is the link of my bean pod account, there are books and movies I've seen.
    </a>
</h2>
<h4>
    Tips:<br>
    You must log in to your pod account before you can access it.<br>
    This is the requirement of the pods, not me.
</h4>

</body>
</html>