<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music</title>
    <link rel="shortcut icon" href="/static/index/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/interest.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
<button class="bn"><a class="lk" href="{% url 'index:index' %}">Back</a></button>

<h3>This page is a music player.<br>
    It is not open at this time.</h3>
<h2>
<a class="lk" href="https://music.163.com/#/user/home?id=367481153" target="_blank">
    <i class="fa fa-link" aria-hidden="true"></i>
    This is my the link of NetYi Yun music account,<br>
    I have heard music: Chinese, English, pure music.
</a>
</h2>
</body>
</html>