<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo</title>
    <link rel="stylesheet" href="/static/css/photo.css">
    <link rel="shortcut icon" href="/static/photos/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
<footer>
    &copy;2019 zh
</footer>
</body>
</html>
