{% extends 'photo/base.html' %}

{% block head %}<h3>图片主页</h3>{% endblock %}

{% block content %}
<div class="card bg-light text-dark">
    <div class="card-header">
        <span class="text-dark">Counts: {{ photos|length }} Photos</span>
    </div>
    <div class="card-body">
        {% if page.object_list %}
            {% for photo in page.object_list %}
                <img style="margin: 5px;" width="300" height="180"
                     src="http://127.0.0.1:8000/photos/download/{{ photo.id }}">
            {% endfor %}
        {% else %}
            {{ not_photos }}
        {% endif %}
    </div>
    <div class="card-footer">
        <ol class="pagination justify-content-center">
            {% if page.has_previous %}
                <li class="page-item"><a class="page-link" href="?index={{page.previous_page_number}}">上一页</a></li>
            {% else %}
                <li class="disabled"><a class="page-link" href="#">上一页</a></li>
            {% endif %}

            {% for page_number in paginator.page_range %}
                {% if page_number == page.number %}
                    <li class="active"><a class="page-link" href="?index={{page_number}}">{{page_number}}</a></li>
                {% else %}
                    <li><a class="page-link" href="?index={{page_number}}">{{page_number}}</a></li>
                {% endif %}
            {% endfor %}

            {% if page.has_next %}
                <li><a class="page-link" href="?index={{page.next_page_number}}">下一页</a></li>
            {% else %}
                <li class="disabled"><a class="page-link" href="#">下一页</a></li>
            {% endif %}
        </ol>
    </div>
</div>
{% endblock %}
