<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Upload{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/photo.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico">

</head>
<body>
<button class="bn"><a class="lk" href="{% url 'photos:display' %}">Back</a></button>
<div class="file-box">
    <form class="form" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file"/>
        <input type="submit" value="Upload"/>
    </form>
</div>
<div class="message">
    {% if error_message %}
    <div class="message_danger"><strong>{{ error_message }}</strong></div>
    {% endif %}
    {% if success_message %}
    <div class="message_success"><strong>{{ success_message }}</strong></div>
    {% endif %}
</div>

</body>
</html>
