{% extends 'photo/base.html' %}
{% block head %}<h3>图片上传</h3>{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <form class="form-inline" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="form-control border border-secondary" type="text" id="textfield" disabled/>
            <label class="btn btn-light border border-secondary" for="customFile">选择文件</label>
            <input class="form-control" type="file" name="file" id="customFile" style="display:none;"
                   onchange="document.getElementById('textfield').value=this.files[0].name"/>
            <input class="btn btn-light border border-secondary" type="submit" value="提交"/>
        </form>
    </div>
</div>

<div class="message">
    {% if error_message %}
    <div class="text-info"><strong>{{ error_message }}</strong></div>
    {% endif %}
    {% if success_message %}
    <div class="text-info"><strong>{{ success_message }}</strong></div>
    {% endif %}
</div>
{% endblock %}
